*~
.DS_Store
.npm-debug.log
yarn-error.log

node_modules/
build/
logs/

*.zip
*.gz
*.exe

.env
.env.local
.env.*.local
.vscode/
.idea/

config/*.config.js

backup-*.json
secrets/

*.log
*.tmp
index.php